.errorAlt{
    color: red;
}

.errorNoneAlt{
    display: none;
}

.errorPeso{
    color: red;
}

.errorNonePeso{
    display: none;
}

.errorIda{
    color:  red;
}

.errorNoneIda{
    display: none;
}